<!-- testphone.wxml -->
<view class="page">
  <view class="phone-test">
    下单确认码已发送至：
  <text>+86 {{telephone}}</text>
  </view>
  <!-- 输入验证码 -->
  <view class="test-code">
    <text>下单确认码</text>
    <input type="number" bindinput="bindGetCode" placeholder="请输入确认码" placeholder-style="color:#b2b2b2;"></input>
    <text style="display:none;font-size: 28rpx;color: #10aeff;">{{resent}}</text>
  </view>
  <button class="btn_test_phone" bindtap="placeOrder">提交订单</button>
  <navigator class="text-return" open-type="navigateBack">返回上一步</navigator>
</view>