/* testphone.wxss */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-test {
    /*水平居中
  align-self: center;*/
    height: 146rpx;
    line-height: 146rpx;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*text-align: center;*/
    color: #888;
    margin-top: 40rpx;
    font-size: 28rpx;
}

.phone-test text {
    color: black;
}

.test-code {
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    display: flex;
    /*justify-content: space-between;*/
    /*margin-top: 20rpx;*/
    background: white;
}

.test-code text {
    flex: 2;
    margin-left: 24rpx;
    font-size: 34rpx;
    color: black;
}

.test-code input {
    flex: 3;
    height: 86rpx;
    line-height: 86rpx;
    align-self: flex-end;
    /*text-align: right;*/
    padding-right: 24rpx;
    font-size: 34rpx;
    color: black;
}

.btn_test_phone {
    width: 90%;
    height: 88rpx;
    line-height: 88rpx;
    margin-top: 60rpx;
}

.text-return {
    font-size: 28rpx;
    color: #b28837;
    margin-top: 40rpx;
}