/* useragreement.wxss */

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.agreement {
    width: 90%;
    height: 100%;
}

.agreement rich-text {
    padding: 0 24rpx 150rpx 24rpx;
}

.btn_agree {
    width: 90%;
}