<!-- companydirectory.wxml -->
<!-- 导入搜索组件 -->
<!--<import src="/wxSearch/wxSearch.wxml"  />
-->
<view class="page">
  <!-- 背景图 -->
  <image src="{{indexImage}}" class="backgroud_img"></image>
  <view class="header">
    <!-- LOGO -->
    <image class="logo-img" src="/icon/logo_white.png"  />
  </view>
  <!-- 搜索框 -->
  <view class="wxSearch-section" bindtap="wxSearchFn">
    <text>搜索</text>
    <image src="/icon/index_ic_search.png"></image>
  </view>
</view>